<!-- Frequently asked questions -->
<div class="faqs-section">

  <div class="title-container">
    <div class="title">Frequently Asked Questions</div>
    <div class="subtitle">Here are the most frequently asked questions you may check before getting started</div>
  </div>

  <div class="grid-container">

    <!-- Column -->
    <div class="column">

      <div class="question">
        What is the duration of the free trial?
      </div>
      <div class="answer">
        <p>
          Our app is free to try for 14 days, if you want more, you can provide
          payment details which will extend your trial to 30 days providing you
          an extra 16 more days to try our app.
        </p>
      </div>

      <div class="question">
        What is the storage is for?
      </div>
      <div class="answer">
        <p>
          Since we provide an extremely detailed reporting and analytics
          tool, they require quite a bit storage space. For average use, you
          don’t have to worry about running out of space since the
          Personal package limits the projects you can have.
        </p>
        <p>
          For some reason if you run out of space, contact us and we will
          see what can be done about it and make sure you are not
          generating unnecessary reports and/or analytics data.
        </p>
      </div>

    </div>

    <!-- Column -->
    <div class="column">

      <div class="question">
        What happens if I’m not satisfied?
      </div>
      <div class="answer">
        <p>
          If you are still in your free trial period, you can cancel your
          account at anytime with a single click of a button. If you already
          paid for your first month, we also offer 30-day money-back
          guarantee with no questions asked.
        </p>
        <p>
          After first month, you can still cancel your account at any time
          but we will calculate the amount that corresponds to days you
          have been using our app for that month and refund only the
          remaining amount.
        </p>
      </div>

      <div class="question">
        Are there discounts for non-profits or educational use?
      </div>
      <div class="answer">
        <p>
          Yes, our Personal and Premium packages are free for non-profits and
          educational use. E-mail your details to us after starting your Free
          Trial and we will upgrade your account if you qualify.
        </p>
      </div>

    </div>

  </div>

</div>
