<div class="container">
  <div class="hero__wrapper">
    <div class="hero__text">
      <!--Title-->
      <h1 class="hero__text__title">Grow your startup right.</h1>

      <div class="hero__text__description">
        Metrics, dunning and engagement tools for Saas & subscription businesses.
      </div>

      <div class="hero__text__buttons">
        <button mat-raised-button [color]="'primary'">Start Free Trial</button>
        <button mat-raised-button>Talk to us</button>
      </div>

    </div>

    <div class="hero__image">
      <img src="./assets/images/Hero.png" alt="Merito product">
    </div>
  </div>
</div>

