.hero-container {
  display: flex;

  h1 {
    font-size: 48px;
    max-width: 400px;
  }

  .hero-text {
    width: 40%;
  }

  .hero-image {
    height: 300px;
    width: 60%;
    background-color: grey;
  }
}
