@import 'src/@treo/styles/treo';

.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 40px 8vw;
  background-color: #f7f7fc;

  .hero__text {
    width: 40%;
    max-width: 350px;

    h1.hero__text__title {
      font-size: 48px;
      margin: 4vw 0 40px;
      font-weight: 700;
    }

    .hero__text__description {
      margin-bottom: 30px;
      font-size: 16px;
      color: treo-color('cool-gray', 500);
    }

    button {
      margin-right: 10px;
    }
  }

  .hero__image {
    height: 100%;
    width: 60%;
  }
}
