<div class="container">
  <div class="hero__wrapper">
    <div class="hero__text">
      <!--Title-->
      <h1 class="hero__text__title">Le buste paga a portata di click</h1>

      <div class="hero__text__description">
        Merito é la soluzione migliore per pagare e premiare i tuoi dipendenti direttamente online.
      </div>

      <div class="hero__text__buttons">
        <a href="https://riccardonline.typeform.com/to/lMlygezI"><button mat-raised-button [color]="'primary'">Contattaci</button></a>
        <a href="#pricing"><button mat-raised-button>Vai ai prezzi</button></a>
      </div>

    </div>

    <div class="hero__image">
      <img src="assets/images/Hero.png" alt="Merito product">
    </div>
  </div>
</div>

