<div class="header">

  <div class="container">

    <nav class="navbar">

      <!--Logo-->
      <a class="navbar-logo" [routerLink]="['/']">
        <img src="assets/images/logo/Logo_Transparent.png" alt="Merito logo">
      </a>

      <div class="navbar-right">

        <!--Menu-->
        <div class="navbar-menu">

          <div class="navbar-item">
            <a [routerLink]="['/']" fragment="features">Features</a>
          </div>

          <div class="navbar-item">
            <a  [routerLink]="['/']" fragment="pricing">Pricing</a>
          </div>

          <div class="navbar-item">
            <a  [routerLink]="['/']" fragment="faq">About us</a>
          </div>

        </div>

        <!--Login-->
        <div class="navbar-end">

          <div class="login-button">Login</div>

          <button mat-raised-button [color]="'primary'" class="demo-button">Request demo</button>

        </div>

      </div>

    </nav>

  </div>

</div>

