<div class="header">

  <div class="container">

    <nav class="navbar">

      <!--Logo-->
      <a class="navbar-logo" [routerLink]="['/']">
        <img src="assets/images/logo/Logo_Transparent.png" alt="Merito logo">
      </a>

      <div class="navbar-right">

        <!--Menu-->
        <div class="navbar-menu">

          <div class="navbar-item">
            <a (click)="onLinkClick('features')">Come funziona</a>
          </div>

          <div class="navbar-item">
            <a  (click)="onLinkClick('pricing')">Prezzi</a>
          </div>

          <div class="navbar-item">
            <a  (click)="onLinkClick('faq')">Chi siamo</a>
          </div>

        </div>

        <!--Login-->
        <div class="navbar-end">

          <div class="login-button">Login</div>

          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdmncQ_S_JICdFGpfW6yXaEqmWt6Dva3Cyf3tCyc1P_tIRacg/viewform"><button mat-raised-button [color]="'primary'" class="demo-button">Contattaci</button></a>

        </div>

      </div>

    </nav>

  </div>

</div>

