<div class="header">

  <div class="container">

    <nav class="navbar">

      <!--Logo-->
      <a class="navbar-logo" [routerLink]="['/']">
        <img src="assets/images/logo/Logo_Transparent.png" alt="Merito logo">
      </a>

      <div class="navbar-right">

        <!--Menu-->
        <div class="navbar-menu">

          <div class="navbar-item">
            <a href="">Come funziona</a>
          </div>

          <div class="navbar-item">
            <a href="">Prezzi</a>
          </div>

          <div class="navbar-item">
            <a href="">Chi siamo</a>
          </div>

        </div>

        <!--Login-->
        <div class="navbar-end">

          <div class="login-button">Login</div>

          <a href="https://riccardonline.typeform.com/to/lMlygezI"><button mat-raised-button [color]="'primary'" class="demo-button">Contattaci</button></a>

        </div>

      </div>

    </nav>

  </div>

</div>

