@import 'src/@treo/styles/treo';

app-header {
  > .header {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    width: 100%;
    height: 64px;
    max-height: 64px;
    min-height: 64px;
    padding: 0 5vw 0 8vw;
    z-index: 49;

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      height: 100%;

      .navbar-logo {
        width: 120px;
        margin-left: 10px;
      }

      .navbar-right {
        display: flex;

        .navbar-menu {
          display: flex;
          align-items: center;
          margin-right: 8vw;
          font-weight: 500;

          .navbar-item {
            margin: 0 10px;
            font-size: 14px;
          }
        }
      }

      .navbar-end {
        display: flex;
        align-items: center;

        .login-button {
          margin-right: 20px;
        }
      }
    }

    @include treo-breakpoint('lt-md') {
      padding: 0 16px;
    }
  }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $is-dark: map-get($theme, is-dark);

  app-header {
    > .header {
      @if ($is-dark) {
        box-shadow: 0 1px 0 0 map-get($foreground, divider);
      } @else {
        background: map-get($background, card);
        @include treo-elevation();
      }
    }
  }
}
