<!-- Cards -->
<div class="cards">

  <!-- Card 1 -->
  <treo-card>

    <div class="title">Personal</div>
    <div class="subtitle">Perfect for an individual or a small team starting to get bigger</div>

    <div class="divider"></div>

    <div class="price">
      <span class="currency">USD</span>
      <span class="amount">
          <ng-container>$6.00</ng-container>
      </span>
    </div>

    <div class="price-details">
      <span>billed annually</span>
      <span>or <b>$9.00</b> billed monthly</span>
    </div>

    <button class="cta-button treo-mat-button-large"
            mat-stroked-button
            [color]="'primary'">
      Get Started
    </button>

    <div class="features">

      <div class="description">All core features, including:</div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span><b>10</b> projects</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span><b>5GB</b> storage</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Analytics</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Free mobile app</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Access to support forums</span>
      </div>

    </div>

  </treo-card>

  <!-- Card 2 -->
  <treo-card>

    <div class="tag">POPULAR</div>

    <div class="title">Premium</div>
    <div class="subtitle">Perfect for growing teams wanting to be in more control</div>

    <div class="divider"></div>

    <div class="price">
      <span class="currency">USD</span>
      <span class="amount">
                        <ng-container>$12.00</ng-container>
                    </span>
    </div>

    <div class="price-details">
      <span>billed annually</span>
      <span>or <b>$15.00</b> billed monthly</span>
    </div>

    <button class="cta-button treo-mat-button-large"
            mat-raised-button
            [color]="'primary'">
      Start a free 14-day trial
    </button>

    <div class="features">

      <div class="description">Everything in Free, plus:</div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span><b>Unlimited</b> projects</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span><b>Unlimited</b> storage</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Custom domain support</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Bulk editing</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>12 / 5 support</span>
      </div>

    </div>

  </treo-card>

  <!-- Card 3 -->
  <treo-card>

    <div class="title">Enterprise</div>
    <div class="subtitle">Perfect for companies wanting advanced tools and support</div>

    <div class="divider"></div>

    <div class="price">
      <span class="currency">USD</span>
      <span class="amount">
                        <ng-container>$49.00</ng-container>
                    </span>
    </div>

    <div class="price-details">
      <span>billed annually</span>
      <span>or <b>$69.00</b> billed monthly</span>
    </div>

    <button class="cta-button treo-mat-button-large"
            mat-stroked-button
            [color]="'primary'">
      Start a free 14-day trial
    </button>

    <div class="features">

      <div class="description">Everything in Premium, plus:</div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span><b>Dedicated</b> hardware</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span><b>%99.9 uptime</b> guarantee</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Advanced analytics</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>3rd party integrations</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>24 / 7 support</span>
      </div>

    </div>

  </treo-card>

</div>
