<div class="content-layout fullwidth-basic-normal-scroll" id="features">

  <div class="container">

    <!-- Features -->
    <div class="features-section">

      <div class="title-container">
        <div class="title">Come funziona</div>
        <div class="subtitle">Ti offriamo l'accesso ad una piattaforma digitale per generare le buste paga dei tuoi dipendenti con pochi semplici click.</div>
      </div>

      <div class="grid-container">

        <!-- Feature -->
        <div class="feature">

          <div class="title-container">
            <mat-icon [svgIcon]="'edit'"></mat-icon>
            <div>Gestione presenze</div>
          </div>

          <div class="description">
            Alla fine di ogni mese potrai compliare la scheda presenze dei tuoi dipendenti in formato digitale.
          </div>

        </div>

        <!-- Feature -->
        <div class="feature">

          <div class="title-container">
            <mat-icon [svgIcon]="'filter_list'"></mat-icon>
            <div>Archivio cedolini</div>
          </div>

          <div class="description">
            In ogni momento potrai consultare e scaricare le buste paga dei tuoi dipendenti.
          </div>

        </div>

        <!-- Feature -->
        <div class="feature">

          <div class="title-container">
            <mat-icon [svgIcon]="'update'"></mat-icon>
            <div>Sicurezza garantita</div>
          </div>

          <div class="description">
            I dati trasmessi vengono conservati nei nostri server che eseguono back-up periodici.
          </div>

        </div>

        <!-- Feature -->
        <div class="feature">

          <div class="title-container">
            <mat-icon [svgIcon]="'label'"></mat-icon>
            <div>Servizi aggiuntivi</div>
          </div>

          <div class="description">
            Dall'assunzione alla gestione di pratiche complesse, siamo sempre a tua disposizione.
          </div>

        </div>

        <!-- Feature -->
        <div class="feature">

          <div class="title-container">
            <mat-icon [svgIcon]="'pageview'"></mat-icon>
            <div>Guide online</div>
          </div>

          <div class="description">
            Per qualsiasi dubbio potrai sempre consultare le nostre guide, costantemente aggiornate.
          </div>

        </div>

        <!-- Feature -->
        <div class="feature">

          <div class="title-container">
            <mat-icon [svgIcon]="'bar_chart'"></mat-icon>
            <div>Documenti contabili</div>
          </div>

          <div class="description">
            Dalla gestione del Libro Unico del Lavoro all'Invio Telematico. È tutto incluso.
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
