<div class="content-layout fullwidth-basic-normal-scroll">

  <div class="container">

    <!-- Features -->
    <div class="features-section">

      <div class="title-container">
        <div class="title">Core Features</div>
        <div class="subtitle">List of features that are included into all plans</div>
      </div>

      <div class="grid-container">

        <!-- Feature -->
        <div class="feature">

          <div class="title-container">
            <mat-icon [svgIcon]="'edit'"></mat-icon>
            <div>Create and Edit Projects</div>
          </div>

          <div class="description">
            Create and edit projects, upload images via drag drop, add categories, add custom fields and more.
          </div>

        </div>

        <!-- Feature -->
        <div class="feature">

          <div class="title-container">
            <mat-icon [svgIcon]="'filter_list'"></mat-icon>
            <div>Search and Filter</div>
          </div>

          <div class="description">
            Search and filter within the projects, categories and custom fields. Save search and filter details for easy
            access.
          </div>

        </div>

        <!-- Feature -->
        <div class="feature">

          <div class="title-container">
            <mat-icon [svgIcon]="'update'"></mat-icon>
            <div>Real Time Updates</div>
          </div>

          <div class="description">
            Real time updates that doesn’t require page reload. Lean back and watch the changes happen in real time.
          </div>

        </div>

        <!-- Feature -->
        <div class="feature">

          <div class="title-container">
            <mat-icon [svgIcon]="'label'"></mat-icon>
            <div>Meta Information</div>
          </div>

          <div class="description">
            Add and remove meta information to custom fields to differentiate them in reports and analytics results.
          </div>

        </div>

        <!-- Feature -->
        <div class="feature">

          <div class="title-container">
            <mat-icon [svgIcon]="'pageview'"></mat-icon>
            <div>Pre-rendered Results</div>
          </div>

          <div class="description">
            Pre-render results to make reports and analytics more accessible by screen readers and other accesibility
            tools.
          </div>

        </div>

        <!-- Feature -->
        <div class="feature">

          <div class="title-container">
            <mat-icon [svgIcon]="'bar_chart'"></mat-icon>
            <div>Simple Analytics</div>
          </div>

          <div class="description">
            Simple analytics with no unnecessary data flow or weight. More readable results with less data consumption.
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
